<h1 class="titre" >Pourquoi un observatoire des prix ?</h1>
<p>Les usagers, les BE et les SPANC témoignent de plus en plus fréquemment de leur difficulté à appréhender un ordre de grandeur réaliste du prix de leur projet d'assainissement.</p>
<p>Suite à plusieurs messages du forum, et face au interrogation des usagers, j'ai décidé de créer cet observatoire afin de rassembler le maximum de données et permettre une juste évaluation d'un chantier d'assainissement. La neutralité d'un <b>site non commercial</b> me semble la condition nécessaire pour assurer une information impartialle.</p>
<p>Je me suis donc modestement inspiré de <a href="http://www.prix-constates-construction.fr/" target="blank">l'observatoire des prix constastés de l'UNTEC EGF-BTP</a>, tout en créant un site spécifique à l'assainissement non collectif. L'objectif étant finalement le même, j'ai repris l'idée et la philosophie générale. Pour rendre à César ce qui appartient à César, je mets en <u>citation</u> les parties issues du site original.</p>


<h1>Qu'est ce que l'observatoire des prix ?</h1>

<p><u>L'observatoire ne propose pas une méthode de fixation des prix. C'est une base de données brutes sur des prix globaux et finaux d'ouvrages réalisés. Il s'agit donc d'un outil de constat, que le maître d'ouvrage peut utiliser très en amont pour appréhender l'ordre de grandeur de la dépense envisagée, voire le « calibrage préalable » de son projet.</u></p>


<h1>Comment se fait le recueil des données présentées dans l'observatoire des prix ?</h1>

<p>Le présent site souhaite mobiliser tous les acteurs du monde de l'ANC : SPANC, BE, Collectivité mais aussi les usagers, aussi le recueil des données se fait sans enregistrement spécifique. Si toutefois, il apparaissait des dérives quant à l'utilisation frauduleuse ou malveillante du site, l'administrateur se réserve le droit de limiter l'accès (enregistrement et mot de passe) à tout moment et sans préavis.</p>

<h3> Conditions liées à la saisie des prix</h3>
<p>Afin de ne pas servir d'outil de propagande ou commerciales, aucune marque, lien vers une marque ou une société, ou incitation à la vente ou à l'achat ne doit être citée ou mise en avant dans les données saisies.</p>

<h3> Modérations et cohérence des prix </h3>
<p>L'administrateur, et toute personne par le biais du lien "signaler une erreur", est chargé de vérifier la cohérence des données et de leur application.</p>
<p>L'administrateur et l'équipe de modération sont chargés de veiller à la cohérence des données recueillies, après leur mise en ligne, <u>mais s'interdit de la façon la plus stricte, d'agir d'une façon ou d'une autre sur ces informations</u> sauf si elle viole les dispositions indiquées dans ce document.</p>

<h1>Comment fonctionne en pratique l'observatoire des prix ?</h1>

<p>Les données sont classés par département et par type de filière, difficulté de chantier (cf. <%= link_to 'Aide', "/fixes/help" %>)</p>
<p><u>La liste des résultats s'affiche sous la forme d'un nuage de points correspondant aux ouvrages disponibles avec le prix sur l'axe des ordonnées.</u> L'axe des abscisses représente la capacité d'accueil ou le dimensionnement des ouvrages.</p>

<p>Un tableau, en fonction du filtre, reprend les données du graphique généré</p>

<p>En cliquant sur le type de filière dans le tableau, vous ouvrez la fiche du dispositif, ce qui permet de voir les commentaires. <u>Les nuages de points mettent donc en évidence l'éventail de prix constatés en fonction des caractéristiques de chaque ouvrage.</u></p>


<h1>garanties et responsabilité</h1>

<p>Tous les coûts, prix ou tarifs figurants dans ce site n’ont qu’une valeur indicative. Conformément aux dispositions légales, il appartient à chaque professionnel de fixer librement les prix de vente. Ces coûts peuvent variés suivant les conditions du marché, la zone géographique ou les politiques commerciales. Ils sont donc susceptible de varier sans préavis. Ils vous appartient de vous renseigner sur les tarifs en vigueur auprès des constructeurs/installateurs</p>

<p>En outre, la responsabilité de SPANC29.net ne pourra être davantage engagée, sans que cette liste soit exhaustive, ni pour les dommages directs ou indirects, ni du fait notamment de perte de profits, de clientèle, de données ou d'informations, notamment dans le cadre d'un usage professionnel ou commercial du site. L'administrateur ne pourra par ailleurs être tenu responsable en cas d'ordres ou de décisions d'investissement fondés sur des informations fournies via ce site. <strong>L'utilisateur est seul responsable de l'utilisation de telles informations.</strong></p>

<p>En déposant un prix, vous en faîtes don gratuitement à la communauté, vous en abandonnez donc les droits d'auteur et tous droits à être rétribué lors du dépôt ou de l'exploitation des données. Si vous n'acceptez pas ces conditions, ne déposez pas de données.</p>
<p>Le dépôt de données est anonyme et sans enregistrement pendant une phase d'essai. En cas de malveillance ou d'utilisation frauduleuse, un système de reconnaissance pourra êtremis en place sans préavis.</p>

<p>L'observatoire, gratuit, est conçu pour répondre à un usage non professionnel, raisonnable et normal du plus grand nombre des utilisateurs. Eu égard à la nature des Services, et aux contraintes notamment de maintenance, le site ne peut garantir l'entière continuité des Services.</p>

<p><strong>Les données sont exclusivement destinés aux utilisateurs personnes physiques agissant à titre non professionnel. Vous vous interdisez donc toute exploitation commerciale ou à but lucratif de tout ou partie des données de l'observatoire ou de l'accès au site sans en avoir demandé l'autorisation à l'administrateur du site.</strong></p>
