Présentation
<h1>Pourquoi un observatoire des prix ?</h1>
Les maîtres d’ouvrage témoignent de plus en plus fréquemment de leur difficulté à appréhender un ordre de grandeur réaliste du prix de leur projet de construction.

Dans ce contexte, ils ont souvent interpellé les différents acteurs de la filière construction (maîtrise d’œuvre, organisations représentatives des entreprises de construction) sur l’intérêt qu’ils verraient à ce que leur soit mis à disposition des éléments d’information sur les prix des ouvrages.

L’UNTEC et EGF.BTP, qui partageaient une même analyse de la situation, ont donc décidé de se rapprocher pour examiner ensemble quelle réponse pourrait être apportée à cette problématique.

C’est ainsi qu’est née l’idée de la création d’un observatoire des prix des opérations de construction, dont la vocation serait d’aider les maîtres d’ouvrage à définir des enveloppes budgétaires appropriées à leurs projets, sans pour autant se substituer aux missions relatives aux phases pré-opérationnelles.

<h1>Qu’est ce que l’observatoire des prix ?</h1>
L’observatoire ne propose pas une méthode de fixation des prix des constructions. C’est une base de données brutes sur des prix globaux et finaux d’ouvrages réalisés. Il s’agit donc d’un outil de constat, que le maître d’ouvrage peut utiliser très en amont pour appréhender l'ordre de grandeur de la dépense envisagée, voire le « calibrage préalable » de son projet.

L’UNTEC et EGF.BTP assurent conjointement le fonctionnement du site et ont mandaté un Comité de Pilotage pour organiser la mise en ligne opérationnelle du projet et valider l’ensemble des données qui y figureront.

Ce Comité de Pilotage comprend en nombre égal des Membres de l’UNTEC et d’EGF.BTP.

Monsieur René ELADARI, ancien Délégué Général au Programme Pluriannuel d’Equipement du ministère de la Justice et bien connu pour la qualité de son expertise sur tout ce qui touche à la recherche de la meilleure efficacité de la commande publique, a accepté de prendre la Présidence de l’observatoire.

L’UNTEC et EGF.BTP, qui jugent prioritaires d’assurer la pérennité du site, sont favorables à l’idée d’associer à l’observatoire d’autres partenaires, en particulier de nature publique, dans la mesure où les objectifs initiaux de leur démarche seraient respectés.

<h1>Comment se fait le recueil des données présentées dans l’observatoire des prix ?</h1>
Ce sont les professionnels (économistes, entreprises etc….), mais aussi les maîtres d’ouvrage, que l’UNTEC et EGF.BTP souhaitent mobiliser pour alimenter le site.

Le site internet comporte un accès spécifique « contributeurs » permettant le recueil direct en ligne des données sur les ouvrages.

Le Comité de Pilotage est chargé de la validation des procédures de recueil de données et de leur application.

<h1>Comment fonctionne en pratique l’observatoire des prix ?</h1>
Les ouvrages sont classés par catégories (logements collectifs, bureaux, crêches, parkings, stades etc..), qui s’affichent dans un menu déroulant proposé à l’internaute.

Pour chaque catégorie, la liste des résultats s’affiche sous la forme d’un nuage de points correspondant aux ouvrages disponibles avec le prix sur l’axe des ordonnées.

Les nuages de points sont construits sur la base du prix hors taxes de l'opération hors foncier, qui comprend donc les travaux (prix actualisé et révisé à assimiler au décompte global et définitif), les honoraires de maîtrise d'oeuvre et les prestations techniques.

Les points de couleur rouge correspondent à des opérations de construction neuve. Les points de couleur bleue correspondent à des opérations de restructuration.

Au survol de chaque point, une bulle affiche quelques caractéristiques principales de l'ouvrage concerné (ex : prix, capacité etc….), qui permettent immédiatement à l’internaute de resserrer sa recherche, en éliminant les ouvrages qui manifestement sont sur ou sous dimensionnés par rapport à son propre projet.

En cliquant sur un point du nuage, on ouvre enfin la fiche détaillée de l'ouvrage. Les nuages de points mettent donc en évidence l’éventail de prix constatés en fonction des caractéristiques de chaque ouvrage.

Les prix présentés dans les nuages de points sont mis à jour tous les mois sur la base unique du dernier index connu, BT ou TP, selon la nature de l'ouvrage. Mais le prix d'origine et l'index BT ou TP utilisé figurent toujours, à titre d'information, dans la fiche détaillée de l'ouvrage.



L'UNTEC et EGF.BTP tiennent à souligner, sur un plan déontologique, leur stricte neutralité à l'égard des informations figurant dans l'observatoire.

<p>Le Comité de Pilotage de l'observatoire est chargé de veiller à la cohérence des données recueillies, avant leur mise en ligne, mais s'interdit de la façon la plus stricte, d'agir d'une façon ou d'une autre sur ces informations.</p>
