<h1 class="titre" >Pourquoi un observatoire des prix ?</h1>
<p>Les usagers, les BE et les SPANC témoignent de plus en plus fréquemment de leur difficulté à appréhender un ordre de grandeur réaliste du prix de leur projet d'assainissement.</p>
<p>Suite à plusieurs messages du forum, et face au interrogation des usagers, j'ai décidé de créer cet observatoire afin de rassembler le maximum de données et permettre une juste évaluation d'un chantier d'assainissement. La neutralité d'un <b>site non commercial</b> me semble la condition nécessaire pour assurer une information impartialle.</p>
<p>Je me suis donc modestement inspiré de l'observatoire des prix constasté de l'UNTEC, tout en créant un site spécifique à l'assainissement non collectif. L'objectif étant finallement le même, j'ai repris les idées générales. Pour rendre à César ce qui appartient à César, je mets en <u>citation</u> les parties issues du site original.</p>


<h1>Qu'est ce que l'observatoire des prix ?</h1>

<u>L'observatoire ne propose pas une méthode de fixation des prix. C'est une base de données brutes sur des prix globaux et finaux d'ouvrages réalisés. Il s'agit donc d'un outil de constat, que le maître d'ouvrage peut utiliser très en amont pour appréhender l'ordre de grandeur de la dépense envisagée, voire le « calibrage préalable » de son projet.</u>


<h1>Comment se fait le recueil des données présentées dans l'observatoire des prix ?</h1>

Le présent site souhaite mobiliser tous les acteurs du monde de l'ANC : SPANC, BE, Collectivité mais aussi les usagers, aussi le recueil des données se fait sans enregistrement spécifique. Si toutefois, il apparaissait des dérives quant à l'utilisation frauduleuse ou malveillante du site, l'administrateur se réserve le droit de limiter l'accès (enregistrement et mot de passe) à tout moment et sans préavis.

<h3> Conditions liées à la saisie des prix</h3>
Cependant afin de ne pas servir d'outil de propagande ou commerciales, aucune marque, lien vers une marque ou une société, ou incitation à la vente ou à l'achat ne doit être citée ou mise en avant dans les données saisies.

<h3> Modérations et cohérence des prix </h3>
<p>L'administrateur, et toute personne par le biais du mail "erreur", est chargé de vérifier la cohérence des données et de leur application.</p>
<p>L'administrateur et l'équipe de modération est chargé de veiller à la cohérence des données recueillies, après leur mise en ligne, mais s'interdit de la façon la plus stricte, d'agir d'une façon ou d'une autre sur ces informations sauf si elle viole les dispositions indiquées dans ce document.</p>

<h1>Comment fonctionne en pratique l'observatoire des prix ?</h1>

<p>Les données sont classés par département et par type de filière, difficulté de chantier (cf. AIDE)</p>
Pour chaque catégorie, la liste des résultats s'affiche sous la forme d'un nuage de points correspondant aux ouvrages disponibles avec le prix sur l'axe des ordonnées.
Les nuages de points sont construits sur la base du prix toutes taxes de l'opération, qui comprend donc les travaux (prix actualisé et révisé à assimiler au décompte global et définitif), les honoraires de maîtrise d'oeuvre et les prestations techniques.

Les points de couleur rouge correspondent à des opérations de construction neuve. Les points de couleur bleue correspondent à des opérations de restructuration.

Au survol de chaque point, une bulle affiche quelques caractéristiques principales de l'ouvrage concerné (ex : prix, capacité etc…), qui permettent immédiatement à l'internaute de resserrer sa recherche, en éliminant les ouvrages qui manifestement sont sur ou sous dimensionnés par rapport à son propre projet.

En cliquant sur un point du nuage, on ouvre enfin la fiche détaillée de l'ouvrage. Les nuages de points mettent donc en évidence l'éventail de prix constatés en fonction des caractéristiques de chaque ouvrage.

Les prix présentés dans les nuages de points sont mis à jour en temps réel sans révision d'indice, tel que saisi par le dépositaire du prix.
