
<h1 class="title_blue" >Mode d'emploi</h1>

<h2>Saisir un prix</h2>

<p class="field_with_errors">ATTENTION, UNE FOIS SAISIE, VOUS EN POUVEZ PLUS MODIFIER LES DONNEES</p>

<p>Pour saisir un nouveau prix vous devez suivre les étapes suivantes : </p>

<div class="center"> <%= image_tag "modeemploi.png" %></div>

<ol class="aide">
  <li>choisir le département dans la liste</li>
  <li>choisir le type de filière, si votre filière n'apparait pas, prenez la filière qui se rapproche le plus de la vôtre. Si, et seulement si la filière est drainée, indiquer le type de dispersion ou rejet.</li>
  <li>sélectionner une dimension. Le nombre ici n'est donné que par un chiffre, il convient donc de remplir suivant la capacité d'accueil ou les equivalent-habitants de votre installation. le tableau ci-dessous vous indique quelques correspondances :<br/>
    <div class="center"><%= image_tag "tableau.jpg" %></div>
  </li>
  <li>La date indiquée doit être la date de réalisation du chantier, ou à défaut la date de facture.</li>
  <li>le montant est en <b>euros TTC</b>, tout compris, tel que indiqué en bas de facture, mais ne doit prendre en compte que l'assainissement. Par contre, les travaux de réfection après chantier font partie des coûts des travaux. Par exemple, Ne pas indiquer la pose d'une clôture ou de pavés pour décorer le patio, ou le terrassement de la piscine s'ils ont été fait en même temps.</li>
  <li>Le choix entre NEUF ou REHABILITATION est obligatoire afin de classer les prix.
  <dl>
    <dt>Le NEUF</dt>
        <dd>correspond à la mis en place d'un assainissement où il n'en existait pas (cas généralement des permis de construire).</dd>
    <dt>La REHABILITATION</dt>
        <dd>est la rénovation ou remise à niveau d'une installation existante.</dd>
  </dl>
</li>
<li>La difficulté de chantier est classé en 4 catégories qui définissent la complexité de réalisation du chantier :<br/>
  <dl>
  <dt>facile</dt><dd>chantier ayant un accès aisé, de la place pour travailler, sans pente, sans difficulté de terrassement (pas de nappe, pas de roche...)</dd>
  <dt>moyen</dt><dd>le chantier présente des difficultés d'accès par des engins, rotation des machines délicates, une pente moyenne ou des difficultés de pose modérée (nappe présente peu haute, quelques roches...)</dd>
  <dt>difficile</dt><dd>conditions de pose délicates liées à un manque d'accès par engins, rotations de machine impossible, forte pente, présence d'arbres, hauteur de nappe importante...</dd>
  <dt>très difficile</dt><dd>conditions de pose extrêmes : zone de montagne, marécageuses, submersibles...</dd>
  </dl>
</li>
<li>laisser un commentaire utile pour la compréhension du prix, notamment s'il est particulièrement haut ou bas par rapport à la moyenne.</li>

<li>lisez les conditions générales du site et validez après avoir vérifié qu'il n'y a pas d'erreurs.
<p><b>ATTENTION, UNE FOIS SAISIE, si vous constatez une erreur, il faudra envoyer un mail à l'administrateur pour corriger la faute.</b></p></li>
</ol>

<h2>CONSULTER LES PRIX</h2>

<h3>FILTRE</h3>
<p>Un filtre permet de choisir le département ET les différentes données</p>
<p>exemple : vous pouvez choisir de ne voir que les filtres à sable d'un département. Le tableau et le graphique se mettent alors à jour.</p>

<h3>GRAPHIQUE</h3>

<div class="center"> <%= image_tag "graph.png" %></div>
<p>Quelques astuces :</p>
<div class="tleft">

<dl>
<dt>EXPORT : </dt>
<dd>Vous pouvez exporter l'image du graphique : PNG,JPG,PDF ou SVG. Il est aussi directement imprimable.</dd>
<dt>SERIES :</dt>
<dd>En cliquant sur les séries dans la légende, vous les activez ou désactivez dans le graphique</dd>
<dt>ZOOM :</dt>
<dd>En cliquant-glissant la souris vous créez un cadre de zoom sur les valeurs. Il suffit de cliquer sur "retour zoom" (à droite) pour revenir au graphique initial.</dd>
</dl>
</div>
<h3>TABLEAU</h3>
<p>Le tableau est aussi triable en cliquant sur ASC (tri ascendant) ou DESC (tri descendant). Cela ne modifie pas le graphique.</p>
<p>En cliquant sur le type de filière dans le tableau, vous ouvrez la fiche du dispositif, ce qui permet de voir les commentaires.</p>
</div>
