<h1>Saisir un prix constaté</h1>

Si c'est votre première saisie, merci de consulter <%= link_to "l'aide", "/fixes/help", target: 'blank'%>.<br/>
Merci de jouer le jeu en saississant des données réelles.
<%= render 'form' %>

<%= link_to 'Retour', prixes_path %>
