// Place all the styles related to the prixes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple_form {
  label{
      background-color: #7DA5E0;
      width: 29%;
      height: 22px;
      float: left;
      padding-right: 1%;
      text-align: right;
      font-size: 1.2em;
      padding-top:1px;
      letter-spacing: 1px;}
      .collection_radio {
     float:none;
    background-color: #FFFFFF}
  input, select, textarea {
      margin-left: 1%;
      border: #CCC 1px solid;
      background-color: #E5E5E5;
      &:hover{
        border: #999 1px solid;
        background-color: #DDEEFF}
      }
}
#prix_date{
      width: 30%;}

.quiet{font-size:0.8em;color: #BFBFBF;}
.right{text-align: right;}

.news_more {
  a {
  color: #3178E0;
  font-weight: bold;
  text-decoration: none;}
  &:hover{text-decoration: underline;}
}

#Tshow {
  width: 100%;
  td.label, .item{
      height: 22px;
      padding-right: 1%;
      font-size: 1.2em;
      padding-top:1px;
      letter-spacing: 1px;
  }
  td.label {
      background-color: #7DA5E0;
      width: 30%;
      text-align: right;
      }
  td.item {
      border-bottom: 1px dotted #aaa;
      text-align: center;}
    .big{
      font-size: 1.8em;
      text-align: right;
      }
}

#Tindex {
  width: 100%;
  text-align: center;

}
.statform {
    margin: 5px 10px 0 10px;
    float: left;
}
